<!DOCTYPE html>
<html>

<head>
	<title> Covid Tracker - Flask </title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<h1 style="text-align: center; padding: 1em 2em 1em 1em;"> Novel Coronavirus (COVID-19) Tracker</h1>

	<div class="row">
		<div class="col s1"></div>
		<div class="col s3">
			<h2 class="header">Total Cases</h2>
			<div class="card horizontal alert-primary">
				<div class="card-image">
					<img src="https://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h1>{{ data['cases'] }} </h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col s3">
			<h2 class="header">Recovered</h2>
			<div class="card horizontal alert-success">
				<div class="card-image">
					<img src="https://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h1>{{ data['recovered'] }} </h1>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col s3">
			<h2 class="header">Deceased</h2>
			<div class="card horizontal alert-danger">
				<div class="card-image">
					<img src="https://lorempixel.com/100/190/nature/6">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<h1>{{ data['deaths'] }} </h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col s1"></div>
	</div>

</body>

</html>